{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Document</title>
</head>
<body>
    <header> 
        <h1>Mon super site web</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/propos/">A propos</a>
            <a href="/contact/">contact</a>
            <a href="/message/">message</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
            <p>Contenu par défaut</p>
        {% endblock%}
    </main>
</body>
</html>