{% extends "base.html" %}

{% block content %}
    <h2>Page de contact</h2>

    {% if success_msg %}
        <p class="success_message">{{ success_msg }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                {% for error in form.non_field_errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {{ form.as_p }}


        <button type="submit">Envoyer</button>
    </form>
{% endblock  %}